* {
    padding: 0;
    margin: 0;
    max-width: 350px;
}

.image img {
    max-width: 350px;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    padding: 20px;
}

.ismaig img {
    max-width: 350px;
}